@import "@workspace/ui/globals.css";
@import "vanilla-cookieconsent/dist/cookieconsent.css";

#cc-main {
  --cc-btn-primary-bg: var(--primary);
  --cc-btn-primary-border-color: var(--primary);
  --cc-btn-primary-hover-bg: var(--primary);
  --cc-btn-primary-hover-border-color: var(--primary);
  --cc-modal-border-radius: 1rem;
}
